/* CSS dijeli sa Signup.css */
.login-form {
  background-color: #ffffff;
  padding: 50px;
  width: 40%;
}
.login-image {
  width: 60%;
  height: 100vh;
  background-image: url("../../MyFarmManagerImg/prasaddoje.jpg");
  background-size: cover;
  background-position: center;
}
.login-button,
.signup-button,
.nazad-button {
  margin-right: 5px;
  margin-top: 5px;
}
